$primary: #4f4fdb;

$body-bg: #11131e;
$body-color: #dedede;

$font-family-base: 'Fredoka', sans-serif;;

$border-color: #424b6c;

$navbar-brand-font-size: 1.5rem;

$input-bg: #2f3758;
$input-color: $body-color;
$input-border-color: $border-color;

$border-radius: 0.25rem;