@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

// bootstrap overrides
@import './constants.scss';
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  background-image: url('../assets/liquid-cheese.svg');
  background-repeat: no-repeat;
  background-size: cover, 100%;
}

.text-gray {
  color: #636678;
}